@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@function img_path($url) {
  $img-path: '../images/';
  @return ( url('#{$img-path + $url}') );
}

@function font_path($url) {
  $img-path: '../fonts/';
  @return ( url('#{$img-path + $url}') );
}

@function path_opensans($url) {
  $img-path: 'open-sans/';
  @return (font_path(#{$img-path + $url}));
}

@mixin border-radius($args) {
  -ms-border-radius: $args;
  -o-border-radius: $args;
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  border-radius: $args;
}
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin transition-all($args) {
    -webkit-transition: all $args ease;
    -moz-transition: all $args ease;
    -o-transition: all $args ease;
    transition: all $args ease;
}