@import "foundation/_settings", "mixins"; 

/* MAIN */

h1, h2, h3, h4, h5, h6 {font-weight:300;}
input {margin:0;}
input[type=text][readonly], textarea[readonly] {background-color:transparent; font-size:13px;}

p {font-size:14px; font-weight:300;}
p.info {font-size:14px; font-weight:300; margin:5px 0 10px;}

/* BLOCKS */

header h1 {
	margin:30px 20px; text-align:right;
}

/* COMPONENTS */

.timetable_wrap {position:relative; padding-right:10px;}
table.timetable {
	height:80%; max-height:600px; width:100%; border-collapse:collapse; border:0; table-layout: fixed;
	thead {
		background:none;
		tr {background:none;}
		th {font-weight:300; padding:0;}
		tr.times {
			th {line-height:18px;}
			th:last-child {width:0; display:inline-block;}
			th div {margin-left:-13px; font-size:12px;}
		}
	}
	tbody {
		td {position:relative; border:0px solid $gainsboro; min-height:50px; padding:0;}
		td.blocked {background:#eee;}
		// td:last-child {width:0; display:inline-block;}
		td:nth-child(2n) {border-right-color:#EEE;}
		td:hover {background:$silver;}
		th.day_label {width:50px; text-align:center; font-weight:400; font-size:12px; background:#fff;}
	}
}

.lesson_block {
	font-size:11px; line-height:12px; position:absolute; top:0; left:0; width:100%; height:100%; padding:13px 5px 5px 10px; border-bottom:4px solid transparent;
	span {display:block;}
	span.code {font-weight:600;}
}

#timetable_range_slider {
	position:relative; height:16px; display:none;
	.ui-slider-handle {
		display:block; position:absolute; height:0; width:0; border:6px solid transparent; border-top:12px solid transparent; margin-left:-5px;
		&:nth-child(2) {border-top-color:#279079;}
		&:last-child {border-top-color:#CE4E4E}
	}
}

.blockout_overlay_container {
	position:absolute; left:0; top:0; width:calc(100% - 60px); margin-left:50px; height:calc(100% - 34px); margin-top:34px; z-index:10;
	.blockout {position:absolute; background:rgba(0,0,0,0.3); width:0; height:100%;}
	.blockout.end {right:0;}
}

.modules {margin-bottom:15px;}
ul#modules_sortable {
	list-style-type:none; margin:0;
	li {position:relative; padding-left: 1.5em; height:20px; line-height:20px; font-size:14px; font-weight:300; margin:6px 0; overflow:hidden; text-wrap:break-word;}
	li span {background:img_path("jquery-ui/ui-icons_777777_256x240.png") -128px -46px; position:absolute; margin-left: -1.3em;}
	a {position:absolute; right:16px; top:0; line-height:20px; font-size:16px; background:#fff;}
	a.remove_module {right:0;}
}
input.module_input {font-size:12px;}

.available_schedules {
	list-style-type:none; margin:0 0 15px;
	li {font-size:13px; line-height:16px;}
}

.statistics {
	font-size:14px; font-weight:300;
	span {margin-left:5px;}
}

.about p {
	font-size:14px; font-weight:300;
	strong {font-weight:600;}
}

/* JQUERY UI */
.ui-icon {width:16px; height:20px; display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat;}

/* jQuery Autocomplete */
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1); margin-top:-1px; width:100%;

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 250px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; font-size:13px; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }


/* COLOR PALETTES */
.palette-0{
	background-color:#f9ad81;border-color:#f46e20;color:#752f06;
	&:hover{background-color:#f78d50}
}
.palette-1{
	background-color:#fff79a;border-color:#ffef34;color:#9a8e00;
	&:hover{background-color:#fff367}
}
.palette-2{
	background-color:#a2d39c;border-color:#60b455;color:#274e22;
	&:hover{background-color:#81c379}
}
.palette-3{
	background-color:#7bcdc8;border-color:#3ea49e;color:#143533;
	&:hover{background-color:#56bfb9}
}
.palette-4{
	background-color:#7ea7d8;border-color:#3872b8;color:#142943;
	&:hover{background-color:#578ccc}
}
.palette-5{
	background-color:#8882be;border-color:#514b8f;color:#18162b;
	&:hover{background-color:#6860ad}
}
.palette-6{
	background-color:#bc8dbf;border-color:#8f5393;color:#301c31;
	&:hover{background-color:#a96cad}
}
.palette-7{
	background-color:#f6989d;border-color:#ee3a44;color:#840b12;
	&:hover{background-color:#f26970}
}